body {
    margin: 0;
    box-sizing: border-box;
}

.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    max-width: 1128px;
    margin-top: 24px;
    gap: 24px;
}

.gallery-item {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 360px;
    height: 200px;
}

.gallery-link {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}